<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Python Project - About</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="/assets/img/favicon.png" rel="icon">
  <link href="/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">

  <link href="/assets/vendor/simple-datatables/style.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="/assets/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: NiceAdmin
  * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
  * Updated: Mar 17 2024 with Bootstrap v5.3.3
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center">

    <div class="d-flex align-items-center justify-content-between">
      <a href="index.html" class="logo d-flex align-items-center">
        <span class="d-none d-lg-block">Python Group 12</span>
      </a>
      <i class="bi bi-list toggle-sidebar-btn"></i>
    </div><!-- End Logo -->




  </header><!-- End Header -->

  <!-- ======= Sidebar ======= -->
  <aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">
      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#charts-nav" data-bs-toggle="collapsed" href="{{ url_for('index') }}">
          <i class="bi bi-grid"></i><span>Home</span><i class="bi ms-auto"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#charts-nav" data-bs-toggle="collapsed" href="{{ url_for('data') }}">
          <i class="bi bi-bar-chart"></i><span>Data</span><i class="bi ms-auto"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-bs-target="#tables-nav" data-bs-toggle="show" href="{{ url_for('about') }}">
          <i class="bi bi-layout-text-window-reverse"></i><span>About</span><i class="bi ms-auto"></i>
        </a>
      </li><!-- End Tables Nav -->

      <!-- End Charts Nav -->

      

    </ul>
  </aside><!-- End Sidebar-->

  <main id="main" class="main">

    <section class="section">
      <div class="row">
        <div class="col-lg-12">

          <div class="card">
            <div class="card-body">

              
              </br>
            </br>
              
              <p>TThe project's data set originates from <a href="https://www.kaggle.com/datasets/maso0dahmed/football-players-data">Football Players Data</a> on <a href="https://www.kaggle.com/datasets">Kaggle Datasets</a>. 
                This comprehensive dataset offers detailed information on approximately 17,000 FIFA football players, meticulously scraped from <a href="https://sofifa.com/">SoFIFA.com</a>. </p>
        
              <p>The original data set has 17,000 rows and 51 columns. For the convenience of display, we selected 8 columns to display, which are <i>Name</i>, <i>Age</i>, <i>Birthdate</i>, <i>Height (cm)</i>, <i>Weight (kg)</i>, <i>Positions</i>, <i>Nationality</i>, <i>Overall Rating</i>, and 500 rows.</p>
              <table class="table datatable">
                 <tr>
                  <th>Features</th>
                  <th>Description</th>
                  <th>Data Type</th>
                </tr>
                <tr>
                  <td>Name</td>
                  <td>Name of the player</td>
                  <td>String</td>
                </tr>

                <tr>
                  <td>Age</td>
                  <td>Age of the player</td>
                  <td>Integer</td>
                </tr>
                <tr>
                  <td>Birthday</td>
                  <td>Date of birth of the player</td>
                  <td>Date</td>
                </tr>
                <tr>
                  <td>Height (cm)</td>
                  <td>Player's height in Centimeters</td>
                  <td>Float</td>
                </tr>
                <tr>
                  <td>Weight (kg)</td>
                  <td>Player's weight in Kilograms</td>
                  <td>Float</td>
                </tr>
                <tr>
                  <td>Position</td>
                  <td>Positions the player can play</td>
                  <td>String</td>
                </tr>
                <tr>
                  <td>Nationality</td>
                  <td>Player's nationality</td>
                  <td>String</td>
                </tr>
                <tr>
                  <td>Overall Rating</td>
                  <td>Overall rating of the player in FIFA</td>
                  <td>Integer</td>
                </tr>
              </table> 

            </div>
          </div>

        </div>
      </div>
    </section>

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">
    <div class="copyright">
      &copy; Copyright <strong><span>NiceAdmin</span></strong>. All Rights Reserved
    </div>
    <div class="credits">
      <!-- All the links in the footer should remain intact. -->
      <!-- You can delete the links only if you purchased the pro version. -->
      <!-- Licensing information: https://bootstrapmade.com/license/ -->
      <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/ -->
      Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>

</body>

</html>