<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Tables / Data - NiceAdmin Bootstrap Template</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="/assets/img/favicon.png" rel="icon">
  <link href="/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">

  <link href="/assets/vendor/simple-datatables/style.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="/assets/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: NiceAdmin
  * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
  * Updated: Mar 17 2024 with Bootstrap v5.3.3
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center">

    <div class="d-flex align-items-center justify-content-between">
      <a href="index.html" class="logo d-flex align-items-center">
        <span class="d-none d-lg-block">Python Group 12</span>
      </a>
    </div><!-- End Logo -->




  </header><!-- End Header -->

  <!-- ======= Sidebar ======= -->
  <aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">
      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#charts-nav" data-bs-toggle="collapsed" href="{{ url_for('index') }}">
          <i class="bi bi-bar-chart"></i><span>Home</span><i class="bi ms-auto"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link " data-bs-target="#charts-nav" data-bs-toggle="collapsed" href="{{ url_for('data') }}">
          <i class="bi bi-bar-chart"></i><span>Data</span><i class="bi ms-auto"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#tables-nav" data-bs-toggle="show" href="{{ url_for('about') }}">
          <i class="bi bi-layout-text-window-reverse"></i><span>About</span><i class="bi ms-auto"></i>
        </a>
      </li><!-- End Tables Nav -->

      <!-- End Charts Nav -->

      

    </ul>

  </aside><!-- End Sidebar-->

  <main id="main" class="main">

    <section class="section">
      <div class="row">
        <div class="col-lg-12">

          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Football Players Data</h5>

              <!-- Table with stripped rows -->

              <div class="datatable-top">
    <div class="datatable-dropdown">
            <label>
              <form id="per_page_form" method="get" action="{{ url_for('data') }}">
                <select class="datatable-selector" name="per_page" id="per_page" onchange="this.form.submit()">
                  <option value="10" {% if g.per_page == 10 %} selected="" {% endif %} >10</option>
                  <option value="20" {% if g.per_page == 20 %} selected="" {% endif %}>20</option>
                  <option value="30" {% if g.per_page == 30 %} selected="" {% endif %}>30</option>
                </select> entries per page
              </form>
            </label>
        </div>
    <div class="datatable-search">
            <!--<input class="datatable-input" placeholder="Search name" type="search" title="Search within table">-->
        </div>
</div>
              <table class="table datatable">
                <thead>
                  <tr>
                    <th>
                      name
                    </th>
                    <th>height_cm</th>
                    <th>weight_kgs</th>
                    <th>positions</th>
                    <th>nationality</th>
                    <th>overall_rating</th>
                  </tr>
                </thead>
                <tbody>
                  {%for p in players %}
                  <tr>
                    <td>{{p[2]}}</td>
                    <td>{{p[3]}}</td>
                    <td>{{p[4]}}</td>
                    <td>{{p[5]}}</td>
                    <td>{{p[6]}}</td>
                    <td>{{p[7]}}</td>
                  </tr>
                  {% endfor %} 
                  
                </tbody>
              </table>
              <!-- End Table with stripped rows -->
              <div class="datatable-bottom">
    <div class="datatable-info">Showing {{g.start+1}} to {{g.end}} of {{total_number}} entries</div>
    <nav class="datatable-pagination">
      <ul class="datatable-pagination-list">
        {%if total_number <= 10 %}
        {%for i in range(total_number)%}
        {%if i == g.page %}
        <li class="datatable-pagination-list-item datatable-hidden datatable-disabled"><button data-page="1" class="datatable-pagination-list-item-link" aria-label="Page 1">‹</button></li>
        <li class="datatable-pagination-list-item datatable-active"><button data-page="1" class="datatable-pagination-list-item-link" aria-label="Page 1">1</button></li>
        {% else %}
        <li class="datatable-pagination-list-item"><a data-page="{{i+1}}" class="datatable-pagination-list-item-link" aria-label="Page {{i+1}}" href="{{ url_for('data', page = i+1, per_page = g.per_page) }}">{{i+1}}</a></li>
        {% endif %}
        {% endfor %}
      {% endif %}
      
      {%if total_number > 10 %}
        {%for i in range(5)%}
        {%if i+1 == g.page %}
        <li class="datatable-pagination-list-item datatable-active"><a data-page="1" class="datatable-pagination-list-item-link" aria-label="Page 1">{{i+1}}</a></li>
        {%else %}
        <li class="datatable-pagination-list-item"><a data-page="{{i+1}}" class="datatable-pagination-list-item-link" aria-label="Page 2" href="{{ url_for('data', page = i+1, per_page = g.per_page) }}">{{i+1}}</a></li>
        {%endif%}
        {% endfor %}
      <li>…</li>
      {%for i in range(total_number-5,total_number)%}
        <!--<li class="datatable-pagination-list-item datatable-active"><button data-page="1" class="datatable-pagination-list-item-link" aria-label="Page 1">1</button></li>-->
        <li class="datatable-pagination-list-item"><a data-page="{{i+1}}" class="datatable-pagination-list-item-link" aria-label="Page 2" href="{{ url_for('data', page = i+1, per_page = g.per_page) }}">{{i+1}}</a></li>
      {% endfor %}
      {% endif %}

      
      
      </ul>
      </div>
            </div>
          </div>

        </div>
      </div>
    </section>

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">
    <div class="copyright">
      &copy; Copyright <strong><span>NiceAdmin</span></strong>. All Rights Reserved
    </div>
    <div class="credits">
      <!-- All the links in the footer should remain intact. -->
      <!-- You can delete the links only if you purchased the pro version. -->
      <!-- Licensing information: https://bootstrapmade.com/license/ -->
      <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/ -->
      Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="/assets/vendor/apexcharts/apexcharts.min.js"></script>
  <script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <!-- Template Main JS File -->
  <script src="/assets/js/main.js"></script>

</body>

</html>